*{              /*el asterisco reinicia la configuracion de nuestro HTML*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, Helvetica, sans-serif; /*tipo de letra alguna de esas 3*/
}

/* Aca tengo estilos generales*/

.image-container {
    display: flex; /*ayuda a modificar los espacios*/
}

.image-container img {
    width: 100%;
}

/* Aca tengo los estilos del header*/

header {
    background: #020235; /*color del padding */
    padding: 10px 50px;
}

#logo {
    width: 150px;
}

#logo img {
    border-radius: 100%;   
    border: 2px solid #0e92c7;   /*color del borde perfil*/
}

/* estilos de hero */

#hero {
    position: relative;
}

#hero #piramide {
    display: inline-block;
    width: 100%; /*indica que esa imagen ocupa el total del cajon*/
}

#hero .informacion-contenedor {
    position: absolute;
    top: 65%;  /*altura de la presentacion*/
    transform: translateY(-50%); /*para encontrar la mitad del espacio*/
    left: 0;
    display: flex;
    width: 100%;
    color: #000000; /*color de la letra*/
    padding: 50px;
}

#hero .informacion-contenedor #foto{
    width: 200px;  /*ancho perfil*/
}

#hero .informacion-contenedor #foto img {
    border-radius: 100%;
}

#hero .informacion-contenedor .informacion {
    margin-left: 20px;   /*separacion presentacion y fotoperfil*/
    font-weight: bold;   /*negrilla presentacion*/
    width: calc(100% - 200px);
}

#hero .informacion-contenedor .informacion span {   /*color y tamaño del @fatuberquia*/
    display: inline-block;
    color: #444444;     
    margin-bottom: 60px;
}

/*estilos del main*/

main {
    padding: 100px;
}

main .social-icons {
    display: flex;   /*nesesario para que funcione el justify centrando los iconos sociales*/
    justify-content: center;
    margin-top: 40px;   /*separa iconos del texto*/
    list-style: none;
}

main.social-icons li {
    margin-left: 8px;
}

main .social-icons .social-icon {
    display: flex;
    justify-content: center;  /* centrar iconos en su caja*/
    align-items: center;
    padding: 20px;          /*tamaño iconos*/
    margin-left: 8px;
    border-radius: 5px;
    width: 100%;
    height: 100%;
}
main .social-icons .social-icon {
    display: flex;
}
#linkedIn {
    width: 40px;
}
#Github {
    width: 40px;
}
#Platzi {
    width: 40px;
}
#Slack {
    width: 40px;
}
#Henry {
    width: 40px;
}

main .social-icons li #Slack {  /*esto lo hice tratando de arreglar iconos pero solo ayuda a que se vea el de linkedin*/
    width: 40px;
    height: 40px;
}

main .social-icons #linkedIn {
    background: #0077b0;
}
main .social-icons #Github {
    background: #23272b;
}
main .social-icons #Platzi {
    background: #121f3d;
}
main .social-icons #Slack {
    background: white;
}
main .social-icons #Henry {
    background: yellow;
}